<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.bedu.file.dao.FileUploadDao">

    <insert id="upload" parameterType="com.care.bedu.file.vo.FileUploadVO">
        CALL BEDU_LECT_DTL_PRO(
            #{lectDtlTime},
            #{lectDtlTitle},
            #{lectNum},
            #{regId},
            #{lectVideoUrl},
            #{lectDtlIndex}    
        )
    </insert>

    <select id="getTotalLecture" resultType="com.care.bedu.lecture.vo.LectureVO">
        SELECT
            LECT_NUM as lectNUm, 
            TITLE,
            TEACHER,
            LECT_SUMMARY,
            CATE_CODE,
            CATE_KOR,
            PRICE,
            LECT_PERIOD
        FROM
            BEDU.T_BEDU_LECT
    </select>


</mapper>