<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.bedu.admin.lectureManage.dao.LectureManageDao">

    <insert id="lectInsert" parameterType="com.care.bedu.lecture.vo.LectureVO">
        INSERT INTO
            BEDU.T_BEDU_LECT(
                LECT_NUM,
                TITLE,
                TEACHER,
                LECT_DESC,
                THUMBNAIL,
                LECT_SUMMARY,
                LECT_PERIOD,
                PRICE,
                CATE_CODE,
                CATE_KOR,
                REG_DATE,
                REG_NUM
            )
        VALUES(
            BEDU_LECT_SEQ.NEXTVAL,
            #{title},
            #{teacher},
            #{lectDesc},
            #{thumbnail},
            #{lectSum},
            #{lectPeriod},
            #{price},
            #{category},
            #{korCategory},
            SYSDATE,
            #{regNum}
        )
    </insert>

    <update id="lectUpdate" parameterType="com.care.bedu.lecture.vo.LectureVO">
        UPDATE
            BEDU.T_BEDU_LECT
        SET (
            ,TEACHER = #{teacher}
            ,LECT_DESC = #{lectDesc}
            <if test='thumbnail != null'>
                ,THUMBNAIL = #{thumbnail}
            </if>
            ,LECT_SUMMARY = #{lectSum}
            ,LECT_PERIOD = #{lectPeriod}
            ,PRICE = #{price}
            ,CATE_CODE = #{category}
            ,CATE_KOR = #{korCategory}
            ,LATELY_UPDATE_NUM = #{updateNum}
            ,LATELY_UPDATE_DATE = SYSDATE
        )
        WHERE LECT_NUM = #{lectNum}
    </update>

</mapper>