<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.bedu.lecture.dao.LectureCategoryDAO">

    <select id="getCategories" resultType="com.care.bedu.lecture.vo.LectureCategoriesVO">
        select
            NUM,
            CATE_CODE as cateCode,
            CATE_KOR as cateKor,
            ICON AS Icon,
            null as parentCode,
            null as parentNum
        from
            b_edu.T_BEDU_LECT_TOP_CATE 
        union all
        select 
            num,
            CATE_CODE as cateCode,
            CATE_KOR as cateKor,  
            null as icon,
            PARENT_NUM as parentNum,
            PARENT_CODE as parentCode            
        from 
            b_edu.T_BEDU_LECT_MID_CATE
        union all
        select
            num,
            CATE_CODE as cateCode,
            CATE_KOR as cateKor,
            null as icon,
            PARENT_NUM AS parnetNum,
            PARENT_CODE as parentCode
        from 
            b_edu.T_BEDU_LECT_BOT_CATE
    </select>

    <select id="getBot" resultType="com.care.bedu.lecture.vo.LectureCategoriesVO">
        SELECT 
            num,
            CATE_CODE as cateCode,
            CATE_KOR as cateKor,
            PARENT_CODE as parentCode,
            parent_num as parentNum 
        FROM 
            t_bedu_lect_bot_cate 
        WHERE PARENT_CODE = #{mid}
        ORDER BY NUM
    </select>

    <select id="getTopLevel" resultType="com.care.bedu.lecture.vo.LectureCategoriesVO">
        SELECT
            NUM,
            CATE_CODE as cateCode,
            CATE_KOR as cateKor
        FROM
            b_edu.T_BEDU_LECT_TOP_CATE
    </select>
    <select id="getMidLevel" resultType="com.care.bedu.lecture.vo.LectureCategoriesVO">
        SELECT
            NUM,
            CATE_CODE as cateCode,
            CATE_KOR as cateKor,
            PARENT_CODE as parentCode
        FROM
            b_edu.T_BEDU_LECT_MID_CATE
    </select>
    <select id="getBotLevel" resultType="com.care.bedu.lecture.vo.LectureCategoriesVO">
        SELECT
            NUM,
            CATE_CODE as cateCode,
            CATE_KOR as cateKor,
            PARENT_CODE as parentCode
        FROM
            b_edu.T_BEDU_LECT_BOT_CATE
    </select>


</mapper>