<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.bedu.lecture.dao.lectureCategoryDao">

    <select id="getCategories" resultType="com.care.bedu.lecture.vo.lectureCategoriesVO">
        select
            num,
            cate_code,
            cate_kor,
            icon,
            null as parent_code,
            null as parent_num
        from
            bedu_db.t_bedu_lect_top_cate
        union all
        select 
            num,
            cate_code,
            cate_kor,
            parent_num,
            parent_code,
            null as icon
        from 
            bedu_db.t_bedu_lect_mid_cate
        union all
        select
            num,
            cate_code,
            cate_kor,
            parent_num,
            parent_code,
            null as icon
        from 
            bedu_db.t_bedu_lect_bot_cate
        order by 
            NUM;
    </select>

    <select id="getBot" resultType="com.care.bedu.lecture.vo.lectureCategoriesvo">
        SELECT * FROM bedu_db.t_bedu_lect_bot_cate WHERE parent_code = #{mid}
    </select>

    <select id="getTop" resultType="com.care.bedu.lecture.vo.lectureCategoriesvo">
        SELECT * FROM bedu_db.t_bedu_lect_top_cate
    </select>

</mapper>