<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.bedu.lecture.dao.LectureCategoryDAO">

    <select id="getCategories" resultType="com.care.bedu.lecture.vo.LectureCategoriesVO">
        select
            num,
            cate_code as cateCode,
            cate_kor as cateKor,
            icon,
            null as parentCode,
            null as parentNum
        from
            t_bedu_lect_top_cate
        union all
        select 
            num,
            cate_code as cateCode,
            cate_kor as cateKor,
            parent_num as parentNum,
            parent_code as parentCode,
            null as icon
        from 
            t_bedu_lect_mid_cate
        union all
        select
            num,
            cate_code as cateCode,
            cate_kor as cateKor,
            parent_num parnetNum,
            parent_code parentCode,
            null as icon
        from 
            t_bedu_lect_bot_cate
        order by 
            NUM;
    </select>

    <select id="getBot" resultType="com.care.bedu.lecture.vo.LectureCategoriesVO">
        SELECT 
            num,
            cate_code as cateCode,
            cate_kor as cateKor,
            parent_code as parentCode,
            parent_num as parentNum 
        FROM 
            t_bedu_lect_bot_cate 
        WHERE parent_code = #{mid}
    </select>


</mapper>