#Cschead {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 60px;
  margin-left: 100px;
}

.customer-center {
  display: flex;
  height: 100vh;
}

#cscdetail {
  font-size: 11px;
  margin-top: 5px;
  margin-left: 230px
}

#cscmo {
  margin-left: 635px;
}

.custom-nav-item .custom-nav-text {
  color: rgb(105, 99, 99);
}

.cscbox {
  width: 900px;
  height: 60px;
  background-color: #f4f4ea;
  transition: height 0.2s ease;
  cursor: pointer;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 230px;
  border-radius: 10px;
}

#cscmy-nav{
  margin-left:420px;
  margin-top: 90px;
}

.cscbox.expanded {
  height: auto;
}

.csc-container {
  display: flex;
  flex-wrap: wrap;
}

.cscquestion {
  padding: 10px;
  margin-left: 0px;
  margin-top: 5px;
}

.cscanswer {
  padding: 6px;
  font-size: 13px;
  margin-left: 0px;
  margin-bottom: 8px;
  display: inline-block;
}

.cscdivider {
  height: 1px;
  background-color: #d1c4c4;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .box {
    width: 100px;
    height: 50px;
  }
}