/*StudyReview css*/
#cscMain {
  padding-top: 5.5%;
  margin-left: 3%;
  padding-right: 30px;
  padding-bottom: 50px;
  width: 80%;
}
  
.csc-main-side{
  width: 110%;
}
#cscside-view{
  text-align: right;
}
#cscside-view, #csc-view-freepath{
  cursor: pointer;
  text-align: right;
}
#csc-detail-main{
  padding-top: 5.5%;
  margin-left: 3%;
  padding-right: 30px;
  padding-bottom: 50px;
  width: 80%;
}

#cscboard-table {
  width: 100%;
  padding: 25px;
  margin-bottom:100px;
}


#csc-view-side {
  padding-top: 3%;
  margin-left: 4%;
  float: left;
}

#cscboard-table th,
#cscboard-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

#freeboard-reviews {
  margin-bottom: 15px;
}

#freeboard-reviews-select {
  border: none;
}


.cscviewkeyword {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid black;
}

.searchForm{
  margin-right: -35px;
}

#csc-search-btn {
  margin-left: 15px;
}

#csc-write{
  padding-top: 5.5%;
  margin-left: 3%; 
  padding-right: 30px;
  padding-bottom: 50px;
  width: 80%;
}

#csc-writepath-btn {
  height: 40px;
  margin-left: 15px;
  margin-top: 2px;
  margin-bottom: 6px;
  background-color: var(--blue) !important
}

#cscBoradSearch {
  float: right;
}

.h3{
  font: bold;
}

#csc-detail-btns{
  float: right;
}

#csc-detail-body {
  width: 90%;
}

.date {
  
  margin-left: 80%;
}

.name {
  font-weight: bold;
}

#cscboard-detail-replywrite{
  display: none;
  word-wrap: break-word;
  width: 50%;
  margin-bottom: 50px;
}

.cscReplyContent {
  word-wrap: break-word;
}


#csc-detail-replycontent{
  width: 200%; 
  height: 100px;
  resize: none;
}

.csc-detail-replylist{
  padding-left: 8%;
  padding-right: 8%;
  border:1px solid;
  margin-top:30px;
  border-radius: 20px 20px / 20px 20px;
}

#csc-detail-btncontent{
  margin-top: 60px;
  display: flex;
}

#csc-userinfo {
  font-size: 1rem;
  display: flex;
}

#csc-comm {
  margin-left: 20px;
}

.csc-answer {
  float: left;
  display: flex;
  align-items: middle;
}

#csc-sort {
  margin-top: 19px;
}

#cscboard-table-tds a{
  width: 120px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.selectBox{
  margin-top: 2%;
}

#cscSortOption {
  width: 110px;
  height: 40px;
  font-size: 120%;
  border: none;
  float: right;
}

.text-start{
  font: bold;
}

#cscTitle{
  width: 30%;
}


#csc-date {
  margin-left: 20px;
}

#csc-likebtn {
  float: right;
  border: 0.1rem solid #dde0ea;
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 12rem;
  z-index: 2;

}

#csc-detail-contents {
  margin-bottom: 15px;
}

/*cscDetail*/
#csc-write-content {
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  resize:none;
}


/*cscBoardEdit*/
#csc-edit-content {
  width: 100%;
  height: 200px;
  resize:none;
}

#comm-main-side {
  float: left;
  padding-top: 5%;
  padding-left: 6%;
}

.comm-main-cate{
  list-style-type: none;
  padding: 0;
}


#csc-detail-contents {
  word-wrap: break-word;
}

.hr {
  margin-bottom: 50px;

}


#cscboard-detail-rewrite{
  background-color: var(--blue) !important
}

#cscboard-detail-replybtn{
  background-color: var(--blue) !important
}

#csc-search-icon {
  position: relative;
  z-index: 2;
  margin-right: -8%;
}

.csc-writebtn{
  background-color: var(--blue) !important;
  margin-right: 10px;
}

#buttonSet{
  float: right;
  margin: 10px;
}

.writeMain{
  float: left;
  padding-top: 5%;
  padding-left: 6%;
}

.cscView{
  float: left;
  padding-top: 5%;
  padding-left: 6%; 
}


.ck-content{ 
  height: 500px !important;
}

.cscDetail{
  float: left;
  padding-top: 5%;
  padding-left: 6%;
}