/*StudyReview css*/
.freeboardMain {
    padding-top: 5.5%;
    margin-left: 3%;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 80%;
}


#freeboard-table {
    width: 100%;
    padding: 25px;
    margin-bottom:100px;
}

#free-view-side {
    padding-top: 3%;
    margin-left: 4%;
    float: left;
}



.freeQnaSortOption {
    width: 110px;
    height: 40px;
    font-size: 120%;
    border: none;
    float: right;
}

#freeboard-table th,
#freeboard-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#freeboard-reviews {
    margin-bottom: 15px;
}

#freeboard-reviews-select {
    border: none;
}

.freeViewKeyword {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
}

#free-view-keywordbtn {
    margin-left: 15px;
}

#free-keywordbtn {
    height: 40px;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 6px;
    background-color: var(--blue) !important;
    text-overflow: clip;
}

.freeBoradSearch {
    float: right;
}

h1 {
    margin-bottom: 30px;
}
/*FreeBoardDetail css*/
#freeboard-detail-top {
    float: right;
}

#freeboard-userinfo {
    font-size: 1rem;
    display: flex;
}

#freeboard-detail-body {
    width: 90%;
}

#freeReplydelbtn{
    margin-bottom: 1rem !important;
    margin-left: 85%;
}

#freeboard-detail-contents {
    margin-bottom: 15px;
}

#free-comm {
    margin-left: 20px;
}

#free-date {
    margin-left: 20px;
}

#free-likebtn {
    float: right;
    border: 0.1rem solid #dde0ea;
    background-color: #fff;
    border-radius: 12rem;
    z-index: 2;
    width: 100px;
    height: 50px;
    text-align: center;
}

#free-likeyn {
    float: right;
}

#free-detail-replylist{
    padding-left: 8%;
    padding-right: 8%;
    /* border:1px solid; */
    margin-top:30px;
    /* border-radius: 20px 20px / 20px 20px; */
}


#qna-detail-rewrite {
    display: none;
}

#qna-detail-recensell {
    display: none;
}

/*freeBoardWrite*/
#freeboard-write {
    padding-top: 5.5%;
    margin-left: 3%;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 80%;
}

#freeboard-write-content {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    resize:none;
}

#freeboard-title {
    margin-bottom: 30px;
}

#comm-main-side {
    float: left;
    padding-top: 5%;
    padding-left: 4%;
}

.comm-main-cate{
    list-style-type: none;
    padding: 0;
}

/*freeBoardEdit*/
#freeboard-edit-content {
    width: 100%;
    height: 200px;
    resize:none;
}

#freeboard-detail-contents {
    word-wrap: break-word;
    margin-bottom: 15px;
}

#freeboard-detail-main {
    padding-top: 5%;
}

#qna-detail-rewrite {
    background-color: var(--blue) !important
}

#free-detail-replybtn {
    background-color: var(--blue) !important
}

.freeReplyName {
    font-weight: bold;
    margin-left: 10px;
}

.freeReplyDate {
    margin-left: 50px;
}

.freeReplycontent {
    word-wrap: break-word;
}

#free-search-icon {
    position: relative;
    z-index: 2;
    margin-right: -8%;
}

#free-detail-replywrite{
    display: none;
    word-wrap: break-word;
    width: 50%;
    margin-bottom: 50px;
}

#qna-detail-replycontent {
    width: 200%; 
    height: 100px;
}

#freeboard-write-reset {
    float: right;
}

#freeboard-write-submit {
    float: right;
    background-color: var(--blue) !important;
    margin-right: 5px;
}

#freeboard-view{
    float: left;
    padding-top: 5%;
    padding-left: 6%;
}

.freeSearch{
    margin-right: -35px;
}

.freeSelectBox{
    margin-top: 2%;
}

.writeMain{
    float: left;
    padding-top: 5%;
    padding-left: 6%;
}

.ck-content{
    height: 500px !important;
}

.freeTitle{
    width: 30%;
}

#freeboard-table-tds a{
    width: 120px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

.text-start{
    font: bold;
}