/*StudyReview css*/
#freeboard-main {
    padding-top: 5%;
    margin-left: 20%;
    padding-right: 30px;
    padding-bottom: 50px;
}

#freeboard-table {
    width: 100%;
    padding: 25px;
    margin-bottom:100px;
}

#free-view-side {
    padding-top: 3%;
    margin-left: 4%;
    float: left;
}

#freeboard-table th,
#freeboard-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#freeboard-reviews {
    margin-bottom: 15px;
}

#freeboard-reviews-select {
    border: none;
}

#free-view-keyword {
    width: 300px;
    height: 35px;
    border-radius: 10px;
}

#free-view-keywordbtn {
    margin-left: 15px;
}

#free-keywordbtn {
    margin-left: 15px;
}

#freeBoradSearch {
    float: right;
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 30px;
}
/*FreeBoardDetail css*/
#freeboard-detail-top {
    float: right;
}

#freeboard-userinfo {
    font-size: 1rem;
    display: flex;
}

#freeboard-detail-body {
    width: 90%;
}

#freeboard-detail-contents {
    margin-bottom: 15px;
}

#free-comm {
    margin-left: 20px;
}

#free-date {
    margin-left: 20px;
}

#free-likebtn {
    border: 0.1rem solid #dde0ea;
    background-color: #fff;
    border-radius: 12rem;
    z-index: 2;
    width: max-content;
    align-items: center;  
}

#free-detail-replylist{
    border:1px solid;
    margin-top:20px;
    border-radius: 20px 20px / 20px 20px;
    text-align: center;
}

#qna-detail-rewrite {
    display: none;
}

#qna-detail-recensell {
    display: none;
}

/*freeBoardWrite*/
#freeboard-write-content {
    width: 100%;
    height: 200px;
    resize:none;
}

#freeboard-title {
    margin-bottom: 30px;
}

#comm-main-side {
    float: left;
    padding-top: 5%;
    padding-left: 4%;
}

.comm-main-cate{
    list-style-type: none;
    padding: 0;
}


/*freeBoardEdit*/
#freeboard-edit-content {
    width: 100%;
    height: 200px;
    resize:none;
}

#freeboard-detail-contents {
    word-wrap: break-word;
}
