/*StudyReview css*/
#qna-main {
    padding-top: 5%;
    margin-left: 20%;
    padding-right: 30px;
    padding-bottom: 50px;
}

#qnaboard-table {
    width: 100%;
    padding: 25px;
    margin-bottom:100px;
}

#qna-view-side {
    padding-top: 3%;
    margin-left: 4%;
    float: left;
}

#qnaboard-table th,
#qnaboard-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#freeboard-reviews {
    margin-bottom: 15px;
}

#freeboard-reviews-select {
    border: none;
}

#qna-view-keyword {
    width: 300px;
    height: 35px;
    border-radius: 10px;
}

#qna-search-btn {
    margin-left: 15px;
}

#qna-writepath-btn {
    margin-left: 15px;
}

#qnaBoradSearch {
    float: right;
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 30px;
}

#qna-detail-btns{
    float: right;
}

#qna-detail-body {
    width: 90%;
}

.date {
    
    margin-left: 75%;
}

.name {
    font-weight: bold;
}

.qnaReplyContent {
    height: 250px;
    width: 750px;
    border-bottom: solid 1px black;
    word-wrap: break-word;
}

.qna-detail-replylist{
    padding-left: 8%;
    border:1px solid;
    margin-top:30px;
    border-radius: 20px 20px / 20px 20px;
    height: 400px;
}

#qna-detail-btncontent{
    margin-top: 60px;
    display: flex;
}

#qna-userinfo {
    font-size: 1rem;
    display: flex;
}

#qna-comm {
    margin-left: 20px;
}

.qna-answer {
    float: left;
    display: flex;
    align-items: middle;
}


#qna-date {
    margin-left: 20px;
}

#qna-likebtn {
    float: right;
    border: 0.1rem solid #dde0ea;
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 12rem;
    z-index: 2;

}

#qna-likeyn {
    float: right;
}

#qna-detail-contents {
    margin-bottom: 15px;
}

/*qnaDetail*/
#qna-write-content {
    width: 100%;
    height: 200px;
    resize:none;
}


/*qnaBoardEdit*/
#qna-edit-content {
    width: 100%;
    height: 200px;
    resize:none;
}

#comm-main-side {
    float: left;
    padding-top: 5%;
    padding-left: 4%;
}

.comm-main-cate{
    list-style-type: none;
    padding: 0;
}


#qna-detail-contents {
    word-wrap: break-word;
}

.hr {
    margin-bottom: 50px;
}

#qna-detail-main {
    padding-top: 5%;
}

#qnaboard-detail-rewrite{
    background-color: var(--blue) !important
}

#qnaboard-detail-replybtn{
    background-color: var(--blue) !important
}

