/*StudyReview css*/
.review-group {
    padding: 25px;
}

.mk-c-tab.col8 {
    border: 1px solid #eee;
    border-bottom: 0;
    border-right: 0;
    padding: 0;
}

.mk-c-tab {
    text-align: center;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

.mk-c-tab > li {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.mk-c-tab > li > a {
    display: block;
    padding: 12px 10px;
    background: #f8f8f8;
    border-right: 1px solid #eee;
    font-weight: 300;
    color: inherit;
}

.review-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-search-bar {
    display: flex;
    align-items: center;
}

.review-search-input input {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.review-search-input button {
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
}
.review-a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

#review-table {
    width: 100%;
    padding: 25px;
    margin-bottom:100px;
}

#review-table th,
#review-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.review-star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-star-rating .review-star {
    color: gold;
}

#review-table .review-writer {
    display: block;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow-wrap: break-word;
}
.review-write-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
}

.review-write-button {
    width: 150px;
    height: 50px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}
#scroll-container {
    position: relative;
    padding: 25px;
}

.infinite-loading-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
#review-sort {
    margin-bottom: 10px;
    float: right;
}

#fw-bold fs-3 text-start {
    margin-top: 20px;
}

#sortOption {
    border: none;
}

#infiniteReview{
    padding: 50px;
}