/* LoginView css */
#loginChangeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 20%;
}

#loginChangeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#loLoginChangeBtn {
    width: 40%;
    padding: 2.2%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background: #303076;
    border-bottom: 3px solid #303076;
    animation: loginFadein 0.5s;
}

@keyframes loginFadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#loRegistChangeBtn {
    width: 40%;
    padding: 2.2%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: black;
    background: white;
    border-bottom: 3px solid #303076;
}

#loginContainer {
    position: relative;
    background: white;
    width: 62.5%;
    height: auto;
}

#loginLogoContainer {
    position: relative;
    font-size: 1.5rem;
    border-radius: 1rem;
    background: white;
    margin-top: 6.25%;
}

#loginLogo {
    width: 30%;
}

#emailInputSection,
#pwdInputSection {
    position: relative;
    width: 62%;
    padding: 1.4%;
    margin-top: 2%;
    font-size: 1.1rem;
    font-weight: 400;
}

#idRememberSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3.125%;
    margin-left: 5%;
}

#idRememberSection span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1.5625%;
    margin-top: 0.9375%;
}

#loginSubmitBtn {
    position: relative;
    width: 62%;
    padding: 1.3%;
    margin-top: 8.75%;
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;
    background: #303076;
}

/* RegistView css */

#emailOptions {
    list-style-type: none;
    padding: 0;
    margin-left: 8%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    width: 79%;
}

#emailOptions li {
    padding: 1.5625%;
    cursor: pointer;
}

#emailOptions li:hover {
    background-color: #f1f1f1;
}

#registChangeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 5%;
}

#registChangeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#agreeitemPa {
    height: 690px;
    width: 890px;
    margin-bottom: -450px;
}

#agreeItem {
    border: 2px solid black;
    width: 89%;
    margin-top: 2.0833%;
    height: 35%;
    overflow: auto;
    text-align: left;
}

#reLoginChangeBtn {
    width: 40%;
    padding: 2.2%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: black;
    background: white;
    border-bottom: 3px solid #303076;
}

@keyframes registFadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#reRegistChangeBtn {
    width: 40%;
    padding: 2.2%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: white;
    background: #303076;
    animation: registFadein 0.5s;
    border-bottom: 3px solid #303076;
}

#registContainer {
    position: relative;
    background: white;
    width: 50%;
    height: auto;
    padding-bottom: 6.25%;
}

#registCheckBox {
    align-items: center;
    margin-left: 10%;
    margin-top: 6.25%;
}

#registChkAll {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#registContainer #registChoice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3.75%;
}

#registCheckBox a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#registContainer label input {
    margin-right: 1.5625%;
}

#registContainer label span {
    font-size: 17px;
    white-space: nowrap;
}

#registCheckBox textarea {
    margin-top: 3.125%;
    width: 95%;
    font-size: 1em;
    resize: none;
    align-self: flex-start;
}

#registCheckBox input[type="checkbox"] {
    padding: 1.5625%;
}

#registSubmit,
#registSubmit2 {
    width: 89.3%;
    padding: 1.9%;
    margin-top: 5.75%;
    margin-left: -11.0375%;
    font-size: 1.3rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #303076;
    border: 3px solid #303076;
}

#registSubmit2:active {
    box-shadow: inset 1px 2px 5px 0px rgb(203, 203, 203),
        inset -1px 0px 3px 0px rgb(203, 203, 203);
}

#registSection {
    padding-bottom: 5.625%;
}

#registFormGroup {
    margin-left: 2%;
    margin-bottom: 4%;
}

#registEmail {
    width: 58.5%;
    padding: 2.2%;
    margin-top: 8.75%;
    margin-left: -3.4375%;
    font-size: 1.1rem;
    font-weight: 400;
}

#registEmailChk {
    width: 25%;
    padding: 2.2%;
    margin-left: -3.4375%;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    background-color: #707070;
}

#registInputError {
    margin-left: 8%;
    position: absolute;
    color: red;
}

#registInputCorrect {
    margin-left: 8%;
    position: absolute;
    color: rgb(0, 182, 0);
}

#registNickname {
    width: 58.5%;
    padding: 2.2%;
    margin-left: -3.4375%;
    font-size: 1.1rem;
    font-weight: 400;
}

#registNickChk {
    width: 25%;
    padding: 2.2%;
    margin-left: -3.4375%;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    background-color: #707070;
}

#registPassword {
    width: 80%;
    padding: 2.2%;
    margin-left: -3.4375%;
    font-size: 1.1rem;
    font-weight: 400;
}

#registConfirmPassword {
    width: 80%;
    padding: 2.2%;
    margin-left: -3.4375%;
    font-size: 1.1rem;
    font-weight: 400;
}

#registSubmitFormBtn {
    width: 80%;
    padding: 2.2%;
    margin-top: 10.4167%;
    margin-left: -3.4375%;
    font-size: 1.3rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #303076;
    border: 3px solid #303076;
}