<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.bedu.user.dao.MemberMypageDAO">

	<select id="getMemberMypage" resultType="int" parameterType="com.care.bedu.user.vo.MemberVO">
		SELECT 
			A.TITLE,
			A.LECT_DESC,
			A.LECT_PERIOD
        FROM T_BEDU_LECT A
		INNER JOIN T_BEDU_USER_LECT B 
			ON A.LECT_NUM = B.LECT_NUM
		INNER JOIN T_BEDU_USER C 
			ON B.USER_NAME = C.USER_NAME
		WHERE C.USER_ID = #{email}
		ORDER BY B.USER_LECT_NUM DESC
	</select>
	
	<select id="getLectureCount" resultType="int">
		SELECT 
			COUNT(A.LECT_NUM) as totalLect
		FROM T_BEDU_LECT A
    	INNER JOIN T_BEDU_USER_LECT B
    		ON A.LECT_NUM = B.LECT_NUM
   		INNER JOIN T_BEDU_USER C
   			ON B.USER_NAME = C.USER_NAME
   	</select>
	
	<select id="lectureListInfoFirst"  resultType="int">
		SELECT A.*
		FROM T_BEDU_LECT A
		INNER JOIN T_BEDU_USER_LECT B
		    ON A.LECT_NUM = B.LECT_NUM
		INNER JOIN T_BEDU_USER C
		    ON B.USER_NAME = C.USER_NAME
		WHERE ROWNUM <![CDATA[<=]]> #{numOfLecture}
		AND A.CATE_CODE = '전체보기'
		ORDER BY B.USER_LECT_NUM DESC
	</select>
	
	<select id="lectureList"  resultType="int">
		SELECT 
			A.*
		FROM T_BEDU_LECT A
    	INNER JOIN T_BEDU_USER_LECT B
    		ON A.LECT_NUM = B.LECT_NUM
   		INNER JOIN T_BEDU_USER C
   			ON B.USER_NAME = C.USER_NAME
 		WHERE ROWNUM <![CDATA[>=]]> #{numOfLecture} AND ROWNUM <![CDATA[<=]]> #{lectureCount}
   	 	AND A.CATE_CODE = '전체보기'
   	 </select>
	 
	<select id="getMemberMypageAll"  resultType="int">
		SELECT 
			A.*
		FROM T_BEDU_LECT A
    	INNER JOIN T_BEDU_USER_LECT B
    		ON A.LECT_NUM = B.LECT_NUM
   		INNER JOIN T_BEDU_USER C
   			ON B.USER_NAME = C.USER_NAME
   	</select>
	
</mapper>
