<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.bedu.user.dao.MemberMypageDAO">

	<select id="getLectureCount" resultType="int">
		SELECT 
			COUNT(A.LECT_NUM) as totalLect
		FROM t_bedu_lect A
    	INNER JOIN t_bedu_user_lect B
    		ON A.LECT_NUM = B.LECT_NUM
   		INNER JOIN t_bedu_user C
   			ON B.USER_NAME = C.USER_NAME
   	</select>
	
	<select id="lectureListInfoFirst"  resultType="int">
		SELECT 
			A.TITLE,
			A.LECT_DESC,
			A.LECT_PERIOD
		FROM t_bedu_lect A
		INNER JOIN t_bedu_user_lect B
		    ON A.LECT_NUM = B.LECT_NUM
		INNER JOIN t_bedu_user C
		    ON B.USER_NAME = C.USER_NAME
		WHERE C.USER_ID = #{email}
		ORDER BY B.USER_LECT_NUM DESC LIMIT 0,#{numOfLecture}
		
	</select>
	
	<select id="getMemberMypageAll"  resultType="int" parameterType="com.care.bedu.user.vo.MemberMypageVO">
		SELECT 
			A.TITLE,
			A.LECT_DESC,
			A.LECT_PERIOD
		FROM t_bedu_lect A
    	INNER JOIN t_bedu_user_lect B
    		ON A.LECT_NUM = B.LECT_NUM
   		INNER JOIN t_bedu_user C
   			ON B.USER_NAME = C.USER_NAME
   		WHERE C.USER_ID = #{userid}
   		ORDER BY B.USER_LECT_NUM DESC LIMIT #{startNo},#{numOfPage}
   	</select>
	
</mapper>
