<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.bedu.review.dao.ReviewDAO">

    <select id="getReviewById" resultType="com.care.bedu.review.vo.ReviewVO">
        SELECT * FROM bedu_db.t_bedu_rw_bd WHERE RW_NUM = #{id};
    </select>

    <insert id="createReview" parameterType="com.care.bedu.review.vo.ReviewVO">
        INSERT INTO
            bedu_db.t_bedu_rw_bd
                (TITLE,
                USER_ID,
                CONTENT,
                RW_GRADE,
                LECT_NUM,
                RW_DATE,
                REG_DATE,
                REG_ID)
        VALUES
                (#{title},
                #{writer},
                #{content},
                #{star},
                #{lectureNumber},
                #{reviewDate},
                #{registrationDate},
                #{registeredUserId});
    </insert>

    <select id="getAllReviews" resultType="java.util.HashMap">
        SELECT 
        		TITLE as title,
        		USER_ID as writer,	
        		CONTENT as content,
        		RW_GRADE as star
        FROM bedu_db.t_bedu_rw_bd;
    </select>

</mapper>