<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.bedu.review.dao.ReviewDAO">

    <select id="getReviewById" resultType="com.care.bedu.review.vo.ReviewVO">
        SELECT * FROM T_BEDU_RW_BD WHERE RW_NUM = #{id}
    </select>

    <insert id="createReview" parameterType="com.care.bedu.review.vo.ReviewVO">
	INSERT INTO
            t_bedu_rw_bd
                (RW_NUM
				TITLE,
				USER_NAME,
				CONTENT,
				RW_GRADE,
				LECT_NUM,
				RW_DATE,
				REG_DATE,
				REG_ID)
        VALUES
                (#{rwNum},
                #{title},
                #{userName},
                #{rwGrade},
                #{lectNum},
                #{rwDate},
                #{regDate},
                #{regId})
    </insert>

    <select id="getAllReviews" resultType="java.util.HashMap">
        SELECT
            RW.TITLE        as title
            , RW.CONTENT    as content
            , RW.USER_NAME  as userName
            , RW.RW_GRADE   as rwGrade
            , RW.RW_DATE    as rwDate
            , FILD.LECT_TOP_CATE
            , FILD.LECT_TOP_CATE_KOR 
            , FILD.LECT_MID_CATE 
            , FILD.LECT_MID_CATE_KOR 
            , FILD.LECT_BOT_CATE
            , FILD.LECT_BOT_CATE_KOR 
        FROM t_bedu_rw_bd RW
        LEFT JOIN t_bedu_lect LECT ON RW.LECT_NUM = LECT.LECT_NUM
        LEFT JOIN t_bedu_lect_fild FILD ON LECT.CATE_CODE = FILD.LECT_BOT_CATE;
    </select>
    
    <select id="getSearchedReviews" resultType="java.util.HashMap">
        SELECT 
            TITLE as title,
            USER_NAME as userName,
            CONTENT as content,
            RW_GRADE as rwGrade,
            RW_DATE as rwDate
        FROM t_bedu_rw_bd
        WHERE
            title like CONCAT('%',#{keyword},'%')
    </select>


</mapper>